

<div id="content" class="site-content">

      

<div class="header-title without-cap text-center" style="background: url(https://s3.amazonaws.com/sparta30/photo/danny-howe-365401.jpg); background-size: cover;">
  <div class="title-wrap">
    <div class="content">
    
      <div class="full-width-container">
        <h1 class="page-title">Sparta Inc.</h1>
                  <br>
          <p class="subtitle">Know your Music. Master your Craft.</p>

              </div>

    </div>
  </div>
</div> <!-- .header-title -->



<div class="full-width-container">
  <div class="vc_col-sm-12">
    <div id="primary" class="content-area">
      <main id="main" class="site-main">
        <article id="post-701" class="post-701 page type-page status-publish hentry">
  <div class="entry-content">
    <div class="vc_row wpb_row vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper"><div class="vc_empty_space  arg-spacer"   style="height: 100px" ><span class="vc_empty_space_inner"></span></div>
</div></div></div></div><div class="vc_row wpb_row vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-3"><div class="vc_column-inner "><div class="wpb_wrapper"><div id="argenta-custom-5a6eefa072abb"  class="heading-wrapper text-left"  >




<div class=" container">
<h1><%= @service.name.upcase %></h1>
  
<div class="row">
 

 <div class="col-md-4">
     

 <div class="thumbnail">  
<%= link_to image_tag(@service.image.url (:medium)), @service %>
</div>


  
  


</div>
      

<div class="col-md-6">
<p>
  
  <%= markdown(@service.description) %>
</p>
</div>

</div>
<% if user_signed_in? && current_user.admin? %>
<%= link_to 'Edit', edit_service_path(@service) %> |
<% end %>

<%= link_to 'Back', services_path %><br><br><br>
</div>
</div></div>
  
   
  </div> </div></div></div></div></div></article></main></div></div></div></div> 


   











 

   











