

<body class="page-template-default page page-id-4243 lang-en-US layout-wide fixed_header wpb-js-composer js-comp-ver-5.2.1 vc_responsive">
  <div id="overlay"><div class="perspective"></div></div>







<div id="pusher" class="menu-type-classic-menu">
  
  <div id="pusher-wrap">
    <div class="pjax-container">
  <div id="wrapper" class="wrapper">
    <!-- container -->
    <div class=" ">
            <article id="post-4243" class="single-post post-4243 page type-page status-publish hentry">
      
      <div class="entry">
        <div  class=" vc_row wpb_row vc_row-fluid vc_custom_1430428493024 full_width tabletnopadding "><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper"><div class="vc_empty_space"   style="height: 150px" ><span class="vc_empty_space_inner"></span></div>
<h2 style="font-size: 40px;color: #000000;text-align: center;font-family:Spinnaker;font-weight:400;font-style:normal" class="vc_custom_heading ">EDIT USER</h2><div class="clear"></div><div class="vc_empty_space"   style="height: 48px" ><span class="vc_empty_space_inner"></span></div>
</div></div></div></div>




<br><br><br><br>
<div class="container">


<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class: 'form-control' %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off", class: 'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit "Update", class: "btn btn-primary" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
</div></div></article></div></div></div></div></div></body>