

.jumbotron {
	background: url('https://s3.amazonaws.com/sparta30/photo/cecile-hournau-383207.jpg') no-repeat center center fixed;
border-radius: 0px;
height: 200;
width: 100%;
background-size: cover;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
position: relative;
overflow: hidden;
margin : 0px;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
margin-top: 0px;
margin-bottom: 0px;
}
