

<body class="page-template-default page page-id-4243 lang-en-US layout-wide fixed_header wpb-js-composer js-comp-ver-5.2.1 vc_responsive">
  <div id="overlay"><div class="perspective"></div></div>







<div id="pusher" class="menu-type-classic-menu">
  
  <div id="pusher-wrap">
    <div class="pjax-container">
  <div id="wrapper" class="wrapper">
    <!-- container -->
    <div class=" ">
            <article id="post-4243" class="single-post post-4243 page type-page status-publish hentry">
      
      <div class="entry">
        <div  class=" vc_row wpb_row vc_row-fluid vc_custom_1430428493024 full_width tabletnopadding "><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper"><div class="vc_empty_space"   style="height: 150px" ><span class="vc_empty_space_inner"></span></div>
<h2 style="font-size: 40px;color: #000000;text-align: center;font-family:Spinnaker;font-weight:400;font-style:normal" class="vc_custom_heading ">NEW PASSWORD</h2><div class="clear"></div><div class="vc_empty_space"   style="height: 48px" ><span class="vc_empty_space_inner"></span></div>
</div></div></div></div>




<br><br><br><br>
<div class="container">

<h2>Forgot your password?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="actions">
    <%= f.submit "Send me reset password instructions" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div></div></article></div></div></div></div></div></body>