
<body class="page-template-default page page-id-4243 lang-en-US layout-wide fixed_header wpb-js-composer js-comp-ver-5.2.1 vc_responsive">
  <div id="overlay"><div class="perspective"></div></div>







<div id="pusher" class="menu-type-classic-menu">
  
  <div id="pusher-wrap">
    <div class="pjax-container">
  <div id="wrapper" class="wrapper">
    <!-- container -->
    <div class=" ">
            <article id="post-4243" class="single-post post-4243 page type-page status-publish hentry">
      
      <div class="entry">
        <div  class=" vc_row wpb_row vc_row-fluid vc_custom_1430428493024 full_width tabletnopadding "><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper"><div class="vc_empty_space"   style="height: 150px" ><span class="vc_empty_space_inner"></span></div>
<h2 style="font-size: 40px;color: #000000;text-align: center;font-family:Spinnaker;font-weight:400;font-style:normal" class="vc_custom_heading ">SPARTA INC.</h2><div class="clear"></div><div class="vc_empty_space"   style="height: 48px" ><span class="vc_empty_space_inner"></span></div>
</div></div></div></div>




<br><br><br><br>

<div id="pusher-wrap">
      <div id="pusher" class="menu-type-classic-menu">
    <div class="pjax-container">
  <div id="wrapper" class="wrapper">
    <!-- container -->
    <div class="container">
          <div class="boxed">
            <div class="page-title ">
          <span class="heading-t"></span>
          <h1>WE HAVE WORKED WITH</h1><span class="heading-b3" style="margin-top:px; margin-bottom:px; background-color:#000000"></span>       </div>
              <article id="post-4759" class="single-post post-4759 page type-page status-publish hentry">
      
      <div class="entry">
        
  <div class="center">
<div class="row">
  <% @clients.each do |client| %>
      <div class="col-md-4">
  <div class="thumbnail">
        <%= image_tag(client.image.url (:medium)) %>
        <div class="caption">
        <h2 style="font-size: 40px;color: #000000;text-align: center;font-family:Spinnaker;font-weight:400;font-style:normal" class="vc_custom_heading "><%= client.name %></h2>
      

      <% if user_signed_in? && current_user.admin? %>  
        <%= link_to 'Show', client %>
        <%= link_to 'Edit', edit_client_path(client) %>
        <%= link_to 'Destroy', client, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>  

    </div>  
      </div>
     
      </div> 
      <% end %>
      </div>
      </div>

              </div>

      
<div id="comments" class="comments-area">

  
</div>      </article>
        </div>
          </div>

  </div>


   





<% if user_signed_in? && current_user.admin? %>
<%= link_to 'New Client', new_client_path %>
<% end %>  



