<p id="notice"><%= notice %></p>


<p><%= image_tag(@client.image.url (:medium)) %></p>
<p>
  <strong>Name:</strong>
  <%= @client.name %>
</p>

<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
