



<div id="content" class="site-content">

      

<div class="header-title without-cap text-center" style="background: url(https://s3.amazonaws.com/sparta30/photo/danny-howe-365401.jpg); background-size: cover;">
  <div class="title-wrap" style="height: -200px;">
    <div class="content">
    
      <div class="full-width-container">
        <h1 class="page-title">Sparta Inc.</h1>
                  <br>
          <p class="subtitle" style="color: white;">Know your Music. Master your Craft.</p>
              </div>

    </div>
  </div>
</div> <!-- .header-title -->
<div id="content" class="site-content">

			




<div class="full-width-container">
	<div class="vc_col-sm-12">
		<div id="primary" class="content-area">
			<main id="main" class="site-main">
				<article id="post-550" class="post-550 page type-page status-publish hentry">
	<div class="entry-content">
		<div data-vc-full-width="true" data-vc-full-width-init="false" data-vc-stretch-content="true" class="vc_row wpb_row vc_row-fluid vc_row-no-padding"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper"><div class="split-box" id="argenta-custom-5a6e0ce91a6f0" 
	data-parallax-left="vertical"		data-parallax-speed-left="0.5"	>
		<div class="vc_col-md-6 split-box-wrap">
		<div class="parallax-bg" style="background: url( ); background-size: cover;"></div>
		<div class="content"><img class="size-medium wp-image-4477 aligncenter" src="https://s3.amazonaws.com/sparta30/photo/harry.jpg" alt="photo_02_zoltan_szirmai1132" width="300" height="191" srcset="https://s3.amazonaws.com/sparta30/photo/harry.jpg" sizes="(max-width: 559px) 100vw, 559px" />
					</div>
	</div>	<div class="vc_col-md-6 split-box-wrap">
		<div class="parallax-bg" style="background-color:#987F71;"></div>
		<div class="content">
			<div class="vc_empty_space"   style="height: 100px" ><span class="vc_empty_space_inner"></span></div>
<div id="argenta-custom-5a6e0ce91b10a"  class="heading-wrapper text-left"  >
			<p class="subtitle">Hello,</p>
	
	<h3 class="second-title text-left" style="font-size: 50px;">Harry Okoh</h3>

	
	
	</div>	

<div id="argenta-custom-5a6e0ce91b2be"  >
	<p style="text-align: left;"><span style="color: #ffffff;">Principal Consultant</span></p>
</div>

<div class="vc_empty_space"   style="height: 5px" ><span class="vc_empty_space_inner"></span></div>

	<div class="wpb_text_column wpb_content_element " >
		<div class="wpb_wrapper">
			<p><span style="color: #d6d0c7;">Established in 2010, Sparta Inc is a music resource boutique that specializes in providing A&R assessment/coordination for Hip Hop/R&B artists and record labels in Nigeria.<br>
It serves as a clearing house for rappers, singers,  songwriters, producers and recording DJs, providing quality assurance for their compositions and recordings.<br><br>
Mr. Harry Okoh, a seasoned music critic who has worked with such acts as Bez, Darey  Art-Alade, Ill Bliss, Banky W, Suspect, Mo Cheddah e.t.c.,  serves as the principal consultant.</span></p>
 
		</div>
	</div>
<div class="socialbar social-column-5" id="argenta-custom-5a6e0ce91b880"  >

		<a href="https://facebook.com/spartaincnigeria " target="_blank" class="social facebook rounded">
		<span class="fa fa-facebook "></span>
			</a>
	
		<a href="https://twitter.com/spartaincnigeria " target="_blank" class="social twitter rounded">
		<span class="fa fa-twitter"></span>
			</a>
	
		
	
	
</div>

		</div>
	</div>	
</div>

</div></div></div></div><div class="vc_row-full-width vc_clearfix"></div> </div></article></main></div></div></div></div>


  </div> </div></div></div></div>

         

<!--<div class="jumbotron" style="height: 500px;">
	<h1 style="text-align: center; margin-top:150px; color: white; font-size: 80px; font-family: Copperplate Gothic Light, sans-serif;  ">SPARTA INC.</h1><p style="text-align: center; color: white; font-size: 25px;">Know your music. Master your craft.</p>
</div>-->
 
			 



