
<div id="content" class="site-content">

      

<div class="header-title without-cap text-center" style="background: url(https://s3.amazonaws.com/sparta30/photo/danny-howe-365401.jpg); background-size: cover;">
  <div class="title-wrap">
    <div class="content">
    
      <div class="full-width-container">
        <h1 class="page-title">Sparta Inc.</h1>
                  <br>
          <p class="subtitle">Know your Music. Master your Craft.</p>
              </div>

    </div>
  </div>
</div> <!-- .header-title -->
<div class="container">
					<h1>Frequently Asked Questions(FAQs)</h1><span class="heading-b3" style="margin-top:px; margin-bottom:px; background-color:#000000"></span>				 
			<div class="entry">

<p><strong>Q: What does A&R mean?</strong><br>
A: A&R means Artist and Repertoire.<br><br>

<p><strong>Q: What does an A&R consultant do?</strong><br>
A: An A&R consultant is like a talent scout, supervising producer and music tastemaker rolled in one. In a developed music industry he is a key personnel at a record label, responsible for identifying and signing new talents to the label. It is also his duty to oversee recordings for an album, select tracks for the album, screen proposed titles for songs and the album, and in some cases arrange the tracklist. He also takes part of the responsibility for the naming and imagining of new acts. Its his job to ensure that the master recording is commercially/technically satisfactory i.e. basically eliminating the chance of rejection when it is submitted to the label’s top brass. In the Nigerian music industry his primary responsibility is to “proof-hear” recordings, making sure the work is of the highest quality, creatively and technically. He basically tries to eliminate fillers from your recordings leaving only gems that will be recognised by music critics and loved by the target audience.<br><br>

<p><strong>Q: Why do I need an A&R consultant to assess me and my work? People that have heard my songs say I’m the bomb!</strong><br>
A: If you’re a newbie in the industry it wouldn’t be suprising if most of these “people” are family and friends. It is incumbent upon them to encourage you in any legitimate endeavour you choose to pursue. The rest of these “people”, who are more likely to be acquaintances than total strangers, will agree with whatever opinion you have of yourself and your music -  you certainly have some belief in your ability that’s why you bothered to sample their opinion in the first place. It would be impolite for them to say otherwise.This doesn’t mean they aren’t being honest with you. They just cannot be too critical of your work. 
You need an A&R person to assess your work in order to get a dispassionate opinion on whether it will meet your creative and commercial aspirations upon release, all other things remaining equal.<br><br>

<p><strong>Q: Does having an A&R person assess my materials guarantee that I will score a hit?</strong><br>
A: No, it doesn’t guarantee anything. Scoring a major hit is the result of a combination of factors: an album full of great songs; the right singles; a strategic publicity campaign; relentless and extensive promotion of both the singles and album in traditional and new media; near perfect timing of release; the right imaging including career defining performances and videos; and more importantly, the goodwill of the music consuming public – remember, they have a choice not to request for your songs or get ecstatic when it comes on air.
What it does guarantee however is that in the event of your failure to score a major hit, the music will not be one of the reasons why your effort bombed*.
In economics terms, it saves you the cost of undertaking a publicity and promotion campaign which can easily run into millions of naira and yet not achieve its aim.<br><br>

<p><strong>Q: Why do I need them at all when they can’t guarantee anything?</strong><br>
A: That’s exactly why you need them: to help you keep  your head on your shoulders and keep your feet on the ground. Essentially a reality check for you. Their inputs will help you determine whether your talent is for making and performing music or making cup cakes. They help you gain knowledge of your music and mastery of your craft.<br><br>

<p><strong>Q: How is an A&R consultant different from the judges on the numerous talent shows on TV?</strong><br><br>
A: The judges at these talent shows are looking for acts with singing talents and the charisma necessary for success in pop music. Their scrutiny of the contestants is limited to what the format allows i.e. the rendition of pop standards and a few original compositions. Remember, its a show, so the entertainment value of the format is the highest consideration for its creators, including the judges. An A&R session is a more solemn affair. The A&R man’s forte is usually a specific genre; rap/Hip Hop, Jazz, R&B, pop, rock, funk, soul e.t.c. hence he scrutinizes your recordings a lot more closely, making suggestions and recommendations on the creative and technical aspects of your work. His scrutiny of your live performances is very discreet so he can see you do your thing uninhibited.<br><br>

<p><strong>Q: But I rap, I don’t sing. I clearly do not need an A&R assessment, or do I?</strong><br>
A: You certainly do. Even when you rap, you’re making music. You don’t want to fall into the trap of making music for Hip Hop heads only. There’s need to craft your songs in ways that will appeal to people who aren’t necessarily Hip Hop heads.</br><br>

<p><strong>Q: F**k that. I’m fresh to death and I’ve got to a new joint produced by the most in-demand producer in Nigeria, plus I’ve got a soon-to-be-released Clarence Peters video. I’m heading for radio. I’m gonna be a star. Groupies, what are you waiting for?</strong><br>
A: In that case we wish you all the best in your pursuit of fame and fortune. Please take a moment to ask yourself whether you just want to be the rave of the moment or you want to be eternal. For your information, in this industry, a phenomenon is usually over in 18 months or thereabout.<br><br>

<p><strong>Q: Ok. So what exactly will an A&R consultant do for me?</strong><br>
A: An A&R consultant will first and foremost help you find out if you indeed possess the talent and attitude required to successfully pursue a career in  music. Next, he’ll be listening up to ascertain the  “excellence  of execution” in your recordings. This means he will be paying close attention to your lyrics, clarity and uniqueness of your style of rapping/singing, songwriting, arrangement and also discovering what kind of emotions the songs are likely to evoke in your listeners. He’ll want to be sure your recordings are on the cutting edge of contemporary Hip Hop/R&B music. He will also be paying close attention to technical things like running time of individual tracks and the entire recording, mixing and mastering.  Your live performance is also under scrutiny. This is to help determine the general likeability of you and your work by the target demographic. All this is necessary if you do not have music enthusiasts in your circle of friends and associates.<br><br>

<p><strong>Q: So at what point in the creative process does the A&R guy come in? I’ve already recorded all the songs.</strong><br>
A: He typically comes in at this point, i.e. when you have already recorded all the songs you want, and have done the initial mixes. It will cost you more in terms of cost of production  for songs that he axes if he came in at a later stage. But even this is a token compared to what you lose when you  try to promote  an inferior recording.<br><br>

<p><strong>Q: All of these sound like what a producer can do. Why do I need an A&R guy when a producer can do all these?</strong><br>
A: Well, most.  But you have to understand something: save for the big name producers, most of your average Hip Hop/R&B producers are typically beatmakers i.e. they just craft backing tracks and hand them over to the artists who do pretty much what they like when they voice it – elsewhere. There are some who will guide your vocals though.  But truth is, if you’re new in the game and you don’t make a great first impression on a producer, big name or not, he is unlikely to give his best when working with you, especially when you’re not paying top dollar! That’s why the attitude bit of an A&R session is necessary.<br><br>

<p><strong>Q: This all sounds very subjective. The A&R guy can make wrong judgements, he is human after all, or isn’t he?</strong><br>
A: Yes he is human. And yes, he can make wrong judgements. That’s why a full A&R session is neither a one-man show nor a one-off event. It involves a team of experts - the consultant, a seasoned music critic, a producer and a radio personality – coming together to assess an act, live and recorded. You can liken their work to that of the F.A.’s  Appeals Committee which is made up of “football people” who go through the appeals of prospective EPL players who have been denied work permit on their initial application. As a collective they seldom make wrong judgements.<br><br>
<p><strong>Q: So how much does it cost to see an A&R consultant?</strong><br>
A: Initial meetings typically cost less than it does to book a full studio session. Clients are usually billed on an hourly basis.
 
    



	
</p>


							</div>

			
<div id="comments" class="comments-area">

	
</div>			</article>
				</div>
					</div>

	</div>
