
<div id="content" class="site-content">

      

<div class="header-title without-cap text-center" style="background: url(https://s3.amazonaws.com/sparta30/photo/danny-howe-365401.jpg); background-size: cover;">
  <div class="title-wrap">
    <div class="content">
    
      <div class="full-width-container">
        <h1 class="page-title">Sparta Inc.</h1>
                  <br>
          <p class="subtitle">Know your Music. Master your Craft.</p>
              </div>

    </div>
  </div>
</div> <!-- .header-title -->
<div class="container">
					<h1>SRRP Q & A</h1><span class="heading-b3" style="margin-top:px; margin-bottom:px; background-color:#000000"></span>				
			
			<div class="entry">



<p><strong>Q: 	What is a Synchronized Radio Release Party (SRRP)?</strong></p>
A:	A Synchronized Radio Release Party is a recreation of an album release party complete with eats and drinks in the studio of radio stations across the country at the same time. It could be done before, after or at the same time as the actual album launch.

<p><strong>Q:	Why do I need to have a SRRP?</strong></p>
A:	The same reason why you have an album launch: To generate buzz for new album/EP
 
<p><strong>Q:	Isn’t it enough that I am having an album launch and actively promoting it on social media?</strong></p>
A:	Yes and No. Yes if you are an A-list artist who is very much in the limelight. But if you are new, make niche music or are a comebacking former A-lister, then an SRRP is an ABSOLUTE necessity. Let me explain. Urban radio DJs and O-A-Ps still wield considerable power as music tastemakers and pop culture influencers. While it is possible to warm up to and indeed befriend – or purchase the loyalty of  - a majority of the Radio DJs and O-A-Ps in the Mecca of the Nigerian Music industry that is Lagos, it is a lot more difficult doing the same to a lot of the other urban radio stations scattered across the country. An SRRP is an effective way of  bridging this gap.

<p><strong>Q:	What are the real benefits of having an SRRP?</strong></p> 
 A(i):	Better aggregate mileage than you would get if you are a newbie hosting a release party with a less than stellar line up at a not-so-swank venue.
(ii):	More value for money. An SRRP costs less than the rent for the Expo Hall of Eko Hotel or any other prestigious venue.
(iii):	Hard data to analyse and exploit for sales and promotion as there are dedicated social media handles i.e on Twitter, Instagram, Facebook and Youtube for every SRRP, it is easy to collate data on the activation.
(iv):	A real relationship with the radio stations where an SRRP is activated. The goodwill received from the various radio stations upon activation of an SRRP can be easily transformed into a real relationship with the DJs and O-A-Ps by the artist and his management.
(v):	There is cost flexibility in having an SRRP as client can pick and choose the stations where they want activations done. However, we recommend that clients do activations in at least a dozen (12) stations spread across either the artist’s area of strength or cities that are key music markets.
(vi): Direct feedback from all the radio stations to the artist’s manager/label rep upon receipt of the SRRP promo pack.
vii): Many minutes of on air O-A-P hype on the day of release and many days/ weeks after.

<p><strong>Q:	Can you walk me through the process of having an SRRP?</strong></p>
A:	It start with picking a date for the activation. Then it moves on to making the promo materials i.e  complimentary copies of the album, copies of the CD sampler* and the album release posters. All of these materials must be made available to us at least a week before the activation date. We’ll take it from there.
* A CD sampler in this case is a specially recorded EP containing songs off the album being released. It typically contains the singles plus one or two focus tracks. Such samplers usually have these songs remixed, remade or retooled, and are made exclusively for the radio stations where activations will be done. They can also take the form of a concept album, a sonic recreation of a typical album launch where there are distinct segments like the red carpet, the show and the after party. This CD sampler and its exclusivity is key in “igniting” the released party in the studios of the radio stations slated for activation.

<p><strong>Q:	 Why should I “serve” food and drinks to the DJs and O-A-Ps at the various stations? Wouldn’t it be better if I just gave them money?</strong></p>
A:	Because you are hosting a party. Besides, what better way is there to “ sweet talk” the contemporary Nigerian into doing what you want other than giving them something wonderful to eat and something great to drink?

 	



<h4>RADIO STATIONS</h4>
 
1. Rave FM, Osogbo</br>
2. Gravity FM, Oyo</br>
3. Amana FM, Gombe</br>
4. Search FM, Minna</br>
5. Hot FM. Asaba</br>
6. Kiss FM, Abuja</br>
7. Rhythm FM, Abuja</br>
8. Urban FM,Enugu</br>
9. Inspiration FM, Ibadan</br>
10. Hit FM, Calabar</br>
11. Solid  FM, Enugu</br>
12. Dream FM, Enugu</br>
13. Love FM, PH</br>
14. Splash FM, Ibadan</br>
15. Canaan City FM, Calabar</br>
16. Creek FM, Yenagoa</br>
17. Radio Benue 2, Makurdi</br>
18. Atlantic FM, Uyo</br>
19. Heartland FM, Owerri</br>
20. Trend FM, Asaba</br>
21. Magic FM, Aba</br>
22. Bronze FM, Benin City</br>
23. Orange FM, Akure</br>
24. Vibes FM, Benin City</br>
25. Rock City FM, Abeokuta</br>
26. UniQ FM, Ilesha</br>
27. Breez FM, Akure</br>
28. Inspiration FM, Uyo</br>
29. Coal City FM, Enugu</br>
30. Unity FM, Abakaliki</br>
31. Freedom FM, Kaduna</br>
32. Vison Africa FM, Umuahia</br>
33. Independent Radio, Benin City</br>
34. Okin FM, Offa</br>
35. BRC FM, Bauchi</br>
36. Hot FM, Abuja</br>
37. Brila FM, Onitsha</br>
38. BSES FM, Ado-Ekiti</br>
39. Freedom FM, Kano</br>
40. Liberty Radio, Kaduna</br>
41. Progress FM, Ado-Ekiti</br>
42. Hot FM, Owerri</br>
43. Cool FM, PH</br>
44. Rhythm FM,PH</br>
45. Gold FM, Ilesha.</br>
46. Paradise FM, Calabar</br>
47. Brila FM, Kaduna</br> 
48. Brila FM, Abuja</br>
49. Beat FM, Ibadan</br>
50. Cool FM, Kano</br>
51. Positive FM, Akure</br>
52. Human Rights Radio, Abuja</br>
53. Radio Sapientia, Onitsha</br>
54. Wazobia FM, Abuja</br>
55. Adaba FM, Akure</br> 
56. Raypower FM, Abuja</br>
57. Zuma FM, Suleja</br>
58. Darling FM, Owerri</br>
59. Bridge FM, Asaba</br>
60. Companion FM, Katsina</br>






 










	
</p>


							</div>

			
<div id="comments" class="comments-area">

	
</div>			</article>
				</div>
					</div>

	</div>
