
<!DOCTYPE html>
<html lang="en">
<head>


<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

  <nav class="navbar navbar-default" id="navbars">
  <div class="container">
    <%= image_tag 'spartalogo.png', style: "height: 59px; width: 149px;", alt: "SpartaINC", class: "navbar-brand" %>  
              
          

  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link" href="#top">SpartaINC.</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#about">About Us</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#services">Services</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="#faqs">FAQs</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#contact">Contact</a>
    </li>
    
  </ul>
  </div>
</nav>



<div class="loading">
  <div class="loader">
    <h2 class="loading-text cd-headline clip is-full-width"> <span class="cd-words-wrapper"> <b class="is-visible">Hey please wait</b> <b>Still loading</b></span> </h2>
    <div class="loading-image"><img src="http://themezinho.net/wave/images/loading.gif" alt="Image"></div>
  </div>
  <!-- end loader --> 
</div>
<!-- end loading -->
<div class="transition-overlay"></div>
<!-- end transition-overlay -->

<!--<nav id="navbars" class="navbar navbar-dark bg-dark">
        
  <%= image_tag 'spartalogo.png', style: "height: 59px; width: 149px;", alt: "SpartaINC", class: "navbar-brand" %>  
              
          

  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link" href="#top">SpartaINC.</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#about">About Us</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#services">Services</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="#faqs">FAQs</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#contact">Contact</a>
    </li>
    
  </ul>
</nav>-->

<!-- end navigation -->

<!-- end navbar -->
<section id="top">
  <div id="carousel-example-generic " class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      <li data-target="#carousel-example-generic" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="https://s3.amazonaws.com/sparta30/photo/danny-howe-365401.jpg" alt="...">
        <div style="margin-bottom: 500px;"class="carousel-caption">
          <h2 style="font-size: 60px;">SPARTA INC.</h2>
          <p ><em> Know your Music . Master your Craft. </em></p>
        </div>
      </div>
      <div class="item">
        <img src="https://s3.amazonaws.com/sparta30/photo/frank-septillion-208829.jpg" alt="...">
        <div style="margin-bottom: 500px;"class="carousel-caption">
          <h2 style="font-size: 60px;">SPARTA INC.</h2>
          <p ><em> Know your Music . Master your Craft. </em></p>
        </div>
      </div>
      <div class="item">
        <img src="https://s3.amazonaws.com/sparta30/photo/yvette-de-wit-118721.jpg" alt="...">
        <div style="margin-bottom: 500px;"class="carousel-caption">
          <h2 style="font-size: 60px;">SPARTA INC.</h2>
          <p ><em> Know your Music . Master your Craft. </em></p>
        </div>
      </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</section>
<!-- end slider -->
<main>


  <section class="showcase" id="services" >
    <div class="header">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <h2 class="wow fadeInUp" data-wow-delay="0.5s">.our services</h2>
            <h5 class="wow fadeInUp" data-wow-delay="0.10s"></h5>
            <span class="shape wow fadeInUp" data-wow-delay="0.15s">O</span> 
          </div>
          <!-- end col-12 --> 
        </div>
        <!-- end row --> 
      </div>
      <!-- end container --> 
    </div>
    <!-- end header -->
    <div class="portfolio">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <ul class="portfolio-masonry">
            
             
              <% @services.reverse.each do |service| %>
              <li class="double wow fadeInUp" data-wow-delay="0.10s">
                <figure><!-- Link to open the modal -->
                  <a class="Image" href="#ex1<%= service.id %>" rel="modal:open">
                    <img src="<%= service.image.url%>" >
                    <figcaption class="bg-color4">
                    <div class="table">
                      <div class="inner">  <%= service.name.upcase %> </div>
                    </div>
                    </figcaption>
                  </a>
                </figure>
                <!-- Modal HTML embedded directly into document -->
                <div id="ex1<%= service.id %>" class="modal">
                  <h3><%= service.name %></h3><hr>
                  <p><%= markdown service.description %></p>
                  <a href="#" rel="modal:close">Close</a>
                </div>
                 
              </li>
              <% end %>
              
            </ul>
          </div>
          <!-- end col-12 --> 
        </div>
        <!-- end row --> 
      </div>
      <!-- end container --> 
    </div>
    <!-- end portfolio --> 
  </section>
  <!-- end showcase -->


  <!-- end showcase -->
  <section class="services-list">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="title-box">
            <h2 class="wow fadeInUp" data-wow-delay="0.05s">.sparta inc</h2>
            <h5 class="wow fadeInUp" data-wow-delay="0.10s">Unique ideas</h5>
            <span class="shape wow fadeInUp" data-wow-delay="0.15s">O</span> 
          </div>
          <!-- end title-box --> 
        </div>
        <!-- end col-12 -->
        <div class="col-md-4 col-sm-12 wow fadeInUp" data-wow-delay="0.05s">
          <h4>CREATIVE</h4>
          <p>We create solutions tailored to you.</p>
        </div>
        <!-- end col-4 -->
        <div class="col-md-4 col-sm-12 wow fadeInUp" data-wow-delay="0.10s">
          <h4>TRUSTED</h4>
          <p>The biggest brands in entertainment rely on us to deliver. </p>
        </div>
        <!-- end col-4 -->
        <div class="col-md-4 col-sm-12 wow fadeInUp" data-wow-delay="0.15s">
          <h4>THE BEST</h4>
          <p>we have a combination of experience, expertise, goodwill and reach to provide the absolute best service.</p>
        </div>
        <!-- end col-4 --> 
      </div>
      <!-- end row --> 
    </div>
    <!-- end container --> 
  </section>


  <!-- end services-list -->


  <section class="services-list" id="about">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">



          <div class="title-box">
            <h2 class="wow fadeInUp" data-wow-delay="0.05s">.about us</h2>
            <h5 class="wow fadeInUp" data-wow-delay="0.10s">Sparta inc.</h5>
            <span class="shape wow fadeInUp" data-wow-delay="0.15s">O</span> 
          </div>
          <!-- end title-box -->

          <div class="testimonial-style1">
                            
            <p class="center-col width-90">Established in 2010, Sparta Inc is a music resource boutique that specializes in providing A&R assessment/coordination for Hip Hop/R&B artists and record labels in Nigeria.<br>
            It serves as a clearing house for rappers, singers,  songwriters, producers and recording DJs, providing quality assurance for their compositions and recordings.<br><br>
            Mr. Harry Okoh, a seasoned music critic who has worked with such acts as Bez, Darey  Art-Alade, Ill Bliss, Banky W, Suspect, Mo Cheddah e.t.c.,  serves as the principal consultant.</p> 
            <span class="center-block" style="color:#000000 !important;">Harry Okoh - Principal Consultant</span>
          </div><br>

          <div class=""><img width="300" height="400" src="https://s3.amazonaws.com/sparta30/photo/harry.jpg" class="img-rounded center-block" alt=""  /></div>
        <!-- end col-12 -->
        </div>
        <!-- end col-4 --> 
      </div>
      <!-- end row --> 
    </div>
    <!-- end container --> 
  </section>

  
  <section class="quote wow fadeInUp" data-wow-delay="0.5s">
    <div class="columms " style="background: url(https://s3.amazonaws.com/sparta30/photo/vinyl.jpg); background-size: cover;">
      <div class="table">
        <div class="inner">
          <h2><span></span><br>
            </h2>
          <a href="#">+</a> </div>
          <!-- end inner -->
      </div>
      <!-- end table -->
    </div>
    <!-- end columms -->
    <div class="columms">
      <div class="table">
        <div class="inner">
          <blockquote>We are passionate about solving problems with clarity, simplicity and integrity.</blockquote>
          <h3>"Harry Okoh"</h3>
        </div>
        <!-- end inner -->
      </div>
      <!-- end table -->
    </div>
    <!-- end columms --> 
  </section>
  <!-- end quote -->
  <!-- end quote -->


  
  <section class="wave-awards wow fadeInUp" id="faqs" data-wow-delay="0.5s">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <h3>FREQUENTLY ASKED QUESTIONS(FAQs)</h3>
          <p><strong>Q: What does A&R mean?</strong><br>
          A: A&R means Artist and Repertoire.<br><br>

          <p><strong>Q: What does an A&R consultant do?</strong><br>
          A: An A&R consultant is like a talent scout, supervising producer and music tastemaker rolled in one. In a developed music industry he is a key personnel at a record label, responsible for identifying and signing new talents to the label. It is also his duty to oversee recordings for an album, select tracks for the album, screen proposed titles for songs and the album, and in some cases arrange the tracklist. He also takes part of the responsibility for the naming and imagining of new acts. Its his job to ensure that the master recording is commercially/technically satisfactory i.e. basically eliminating the chance of rejection when it is submitted to the label’s top brass. In the Nigerian music industry his primary responsibility is to “proof-hear” recordings, making sure the work is of the highest quality, creatively and technically. He basically tries to eliminate fillers from your recordings leaving only gems that will be recognised by music critics and loved by the target audience.<br><br>

          <p><strong>Q: Why do I need an A&R consultant to assess me and my work? People that have heard my songs say I’m the bomb!</strong><br>
          A: If you’re a newbie in the industry it wouldn’t be suprising if most of these “people” are family and friends. It is incumbent upon them to encourage you in any legitimate endeavour you choose to pursue. The rest of these “people”, who are more likely to be acquaintances than total strangers, will agree with whatever opinion you have of yourself and your music -  you certainly have some belief in your ability that’s why you bothered to sample their opinion in the first place. It would be impolite for them to say otherwise.This doesn’t mean they aren’t being honest with you. They just cannot be too critical of your work. 
          You need an A&R person to assess your work in order to get a dispassionate opinion on whether it will meet your creative and commercial aspirations upon release, all other things remaining equal.<br><br>

          <p><strong>Q: Does having an A&R person assess my materials guarantee that I will score a hit?</strong><br>
          A: No, it doesn’t guarantee anything. Scoring a major hit is the result of a combination of factors: an album full of great songs; the right singles; a strategic publicity campaign; relentless and extensive promotion of both the singles and album in traditional and new media; near perfect timing of release; the right imaging including career defining performances and videos; and more importantly, the goodwill of the music consuming public – remember, they have a choice not to request for your songs or get ecstatic when it comes on air.
          What it does guarantee however is that in the event of your failure to score a major hit, the music will not be one of the reasons why your effort bombed*.
          In economics terms, it saves you the cost of undertaking a publicity and promotion campaign which can easily run into millions of naira and yet not achieve its aim.<br><br>

          <p><strong>Q: Why do I need them at all when they can’t guarantee anything?</strong><br>
          A: That’s exactly why you need them: to help you keep  your head on your shoulders and keep your feet on the ground. Essentially a reality check for you. Their inputs will help you determine whether your talent is for making and performing music or making cup cakes. They help you gain knowledge of your music and mastery of your craft.<br><br>

          <p><strong>Q: How is an A&R consultant different from the judges on the numerous talent shows on TV?</strong><br><br>
          A: The judges at these talent shows are looking for acts with singing talents and the charisma necessary for success in pop music. Their scrutiny of the contestants is limited to what the format allows i.e. the rendition of pop standards and a few original compositions. Remember, its a show, so the entertainment value of the format is the highest consideration for its creators, including the judges. An A&R session is a more solemn affair. The A&R man’s forte is usually a specific genre; rap/Hip Hop, Jazz, R&B, pop, rock, funk, soul e.t.c. hence he scrutinizes your recordings a lot more closely, making suggestions and recommendations on the creative and technical aspects of your work. His scrutiny of your live performances is very discreet so he can see you do your thing uninhibited.<br><br>

          <p><strong>Q: But I rap, I don’t sing. I clearly do not need an A&R assessment, or do I?</strong><br>
          A: You certainly do. Even when you rap, you’re making music. You don’t want to fall into the trap of making music for Hip Hop heads only. There’s need to craft your songs in ways that will appeal to people who aren’t necessarily Hip Hop heads.</br><br>

          <p><strong>Q: F**k that. I’m fresh to death and I’ve got to a new joint produced by the most in-demand producer in Nigeria, plus I’ve got a soon-to-be-released Clarence Peters video. I’m heading for radio. I’m gonna be a star. Groupies, what are you waiting for?</strong><br>
          A: In that case we wish you all the best in your pursuit of fame and fortune. Please take a moment to ask yourself whether you just want to be the rave of the moment or you want to be eternal. For your information, in this industry, a phenomenon is usually over in 18 months or thereabout.<br><br>

          <p><strong>Q: Ok. So what exactly will an A&R consultant do for me?</strong><br>
          A: An A&R consultant will first and foremost help you find out if you indeed possess the talent and attitude required to successfully pursue a career in  music. Next, he’ll be listening up to ascertain the  “excellence  of execution” in your recordings. This means he will be paying close attention to your lyrics, clarity and uniqueness of your style of rapping/singing, songwriting, arrangement and also discovering what kind of emotions the songs are likely to evoke in your listeners. He’ll want to be sure your recordings are on the cutting edge of contemporary Hip Hop/R&B music. He will also be paying close attention to technical things like running time of individual tracks and the entire recording, mixing and mastering.  Your live performance is also under scrutiny. This is to help determine the general likeability of you and your work by the target demographic. All this is necessary if you do not have music enthusiasts in your circle of friends and associates.<br><br>

          <p><strong>Q: So at what point in the creative process does the A&R guy come in? I’ve already recorded all the songs.</strong><br>
          A: He typically comes in at this point, i.e. when you have already recorded all the songs you want, and have done the initial mixes. It will cost you more in terms of cost of production  for songs that he axes if he came in at a later stage. But even this is a token compared to what you lose when you  try to promote  an inferior recording.<br><br>

          <p><strong>Q: All of these sound like what a producer can do. Why do I need an A&R guy when a producer can do all these?</strong><br>
          A: Well, most.  But you have to understand something: save for the big name producers, most of your average Hip Hop/R&B producers are typically beatmakers i.e. they just craft backing tracks and hand them over to the artists who do pretty much what they like when they voice it – elsewhere. There are some who will guide your vocals though.  But truth is, if you’re new in the game and you don’t make a great first impression on a producer, big name or not, he is unlikely to give his best when working with you, especially when you’re not paying top dollar! That’s why the attitude bit of an A&R session is necessary.<br><br>

          <p><strong>Q: This all sounds very subjective. The A&R guy can make wrong judgements, he is human after all, or isn’t he?</strong><br>
          A: Yes he is human. And yes, he can make wrong judgements. That’s why a full A&R session is neither a one-man show nor a one-off event. It involves a team of experts - the consultant, a seasoned music critic, a producer and a radio personality – coming together to assess an act, live and recorded. You can liken their work to that of the F.A.’s  Appeals Committee which is made up of “football people” who go through the appeals of prospective EPL players who have been denied work permit on their initial application. As a collective they seldom make wrong judgements.<br><br>
          <p><strong>Q: So how much does it cost to see an A&R consultant?</strong><br>
          A: Initial meetings typically cost less than it does to book a full studio session. Clients are usually billed on an hourly basis.
          </p>
        </div>
        <!-- end col-4 -->
        
        <!-- end col-8 --> 
      </div>
      <!-- end row --> 
    </div>
    <!-- end container --> 
  </section>
  <!-- end wave-awards --> 


  <section id="contact" class="quote wow fadeInUp" data-wow-delay="0.5s">
    <div class="columms " style="background: url(https://images.unsplash.com/photo-1560010871-220685e68662?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1234&q=80); background-size: cover;">
      <div class="table">
        <div class="inner">
          <h2><span>How To Find Us</span><br>
            </h2>
          <a href="#">+</a>
                        
        </div>
          <!-- end inner -->
      </div>
      <!-- end table -->
    </div>
    <!-- end columms -->
    <div class="columms">
      <div class="table">
        <div class="inner"> 
        
          <blockquote>  Have a project you're interested in discussing with us? Drop us a line below, we’d love to talk.<hr>
            <p>+234 (0) 803 444 5353</p><hr>
            <p> info@spartaincnigeria.com</p><hr>
            <p>7A Ilogbo Close, Ojodu Estate,<br /> Ojodu/Berger, LAGOS.</p><hr>
           
      <a href="https://facebook.com/spartaincnigeria" target="_blank">
      <i class="fa fa-facebook-f"></i>
      </a>
   
      <a href="https://twitter.com/spartaincnigeria" target="_blank"><i class="fa fa-twitter"></i></a>
      <a class="nav-link" href="#top"><i class="fa fa-arrow-up"></i></a>
   
          </blockquote>
          <span class=""></span>
                            
                            
        </div>
        <!-- end inner -->
      </div>
      <!-- end table -->
    </div>
    <!-- end columms --> 
  </section>
  <!-- end quote -->
</main>



</body>
</html>





<!-- CSS FILES -->

<br><br>





  <!-- end wave-awards --> 


<script>
  $(document).ready(function(){
  // Add smooth scrolling to all links
  $("a").on('click', function(event) {

    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {
      // Prevent default anchor click behavior
      event.preventDefault();

      // Store hash
      var hash = this.hash;

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 800, function(){

        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    } // End if
  });
});
</script>

<script>
window.onscroll = function() {myFunction()};

var navbar = document.getElementById("navbars");
var sticky = navbar.offsetTop;

function myFunction() {
  if (window.pageYOffset >= sticky) {
    navbar.classList.add("sticky")
  } else {
    navbar.classList.remove("sticky");
  }
}
</script>



