<%= form_for(@messenger) do |f| %>
  <% if @messenger.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@messenger.errors.count, "error") %> prohibited this messenger from being saved:</h2>

      <ul>
      <% @messenger.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, placeholder: 'YOUR NAME', class: 'form-control', id: "exampleInputEmail1", aria_describedby: "emailHelp" %>
  </div>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email, placeholder: 'YOUR EMAIL', class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :subject %>
    <%= f.text_field :subject, placeholder: 'SUBJECT', class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :message %>
    <%= f.text_area :message, placeholder: 'YOUR MESSAGE', class: 'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit 'SUBMIT',class: 'btn btn-primary' %>
  </div>
<% end %>
