<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @messenger.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @messenger.email %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @messenger.subject %>
</p>

<p>
  <strong>Message:</strong>
  <%= @messenger.message %>
</p>

<%= link_to 'Edit', edit_messenger_path(@messenger) %> |
<%= link_to 'Back', messengers_path %>
