<footer class="brando-footer bg-white border-top footer-border" >
	<div class="footer-top">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-sm-12 text-center margin-three-bottom xs-margin-eight-bottom"> 
					<a class="inner-link" href="#home"> <%= image_tag 'spartalogo.png', style: "height: 149px; width: 149px;", alt: "SpartaINC", class: "logo" %> </a> 
					<span class="text-small alt-font text-uppercase margin-one-tb xs-margin-six-top display-block black-text brando-footer-text">SPARTA INC NIGERIA</span>
				</div>
				<div class="col-md-12 col-sm-12 text-center">
					<div id="text-3" class="custom-widget widget_text">
						<div class="textwidget">
							<div class="footer-social position-relative top4"> 
								<a href="https://facebook.com/spartaincnigeria" target="_blank">
									<i class="fab fa-facebook-f"></i>
								</a> 
								<a href="https://twitter.com/spartaincnigeria" target="_blank"><i class="fab fa-twitter"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-bottom bg-gray">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-sm-12 text-center"> 
					<span class="text-small text-uppercase letter-spacing-1"> © 2018, Sparta Inc. Nigeria.  All rights reserved. Site by Chima Okochi </span>
				</div>
			</div>
		</div>
	</div> 
</footer>
<a class="scrollToTop scrolltotop-position-right" href="javascript:void(0);"> <i class="fas fa-angle-up"></i> </a>  
 
<script type="text/javascript" src="http://wpdemos.themezaa.com/brando/agency/wp-content/cache/minify/5ac36.js"></script> 
 
<script type="text/javascript" src="http://wpdemos.themezaa.com/brando/agency/wp-content/cache/minify/3a4a4.js"></script> 
<style id="brando-custom-css" type="text/css">.brando_featurebox_1513246814-2-33 .brando-title-color{color:#000}.brando_featurebox_1513246824-2-27 .brando-title-color{color:#000}.brando_featurebox_1513246836-2-22 .brando-title-color{color:#000}.brando_featurebox_1513246844-2-10 .brando-title-color{color:#000}</style>
<style id="brando-themesetting-css" type="text/css">nav.transparent-navbar-default.shrink{background:#000}.center-logo-header,.shrink.center-logo-header{background:#93e4cf}.header-white,.header-white.shrink{background:#fff}nav.without-border.shrink{background:#000}</style>






















		

