<nav class="navbar no-margin-bottom alt-font transparent-navbar-default header-vertical-center " data-offset=-59>
      <div class="container navigation-menu">
        <div class="row">
          <div class="col-lg-2 col-md-2 navbar-header"> 
            <a class="navbar-brand inner-link" href="#home">
            <%= image_tag 'spartalogo.png', style: "height: 59px; width: 149px;", alt: "SpartaINC", class: "logo" %> 
            <%= image_tag 'spartalogo.png', style: "height: 59px; width: 149px;", alt: "SpartaINC", class: "retina-logo" %>  
              
            </a>
          </div> 
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> 
            <span class="sr-only">Toggle navigation</span> 
            <span class="icon-bar"></span> 
            <span class="icon-bar"></span> 
            <span class="icon-bar"></span> 
          </button>
          <div class="col-lg-6 col-md-6 col-sm-9 collapse navbar-collapse accordion-menu" id="bs-example-navbar-collapse-1">
            <div class="menu-agency-menu-container">
              <ul id="menu-agency-menu" class="nav navbar-nav main-menu-height">
                <li id="menu-item-19" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-19">
                  <a href="#about" class="inner-link">About</a>
                </li>
                <li id="menu-item-20" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-20">
                  <a href="#services" class="inner-link">Services</a>
                </li>
                
                <li id="menu-item-22" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-22">
                  <a href="#harry" class="inner-link">Sparta Inc</a>
                </li>
                <li id="menu-item-23" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-23">
                  <a href="#faqs" class="inner-link">FAQs</a>
                </li>
                <li id="menu-item-24" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-24">
                  <a href="#contact" class="inner-link">Contact</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3 col-md-2 pull-right header-right text-right sm-display-none">
            <div id="text-2" class="custom-widget widget_text">
              <div class="textwidget">
                <span class="text-uppercase white-text text-small md-display-none font-weight-600">Let's work together?&nbsp;&nbsp;</span> 
                <a href="#contact" class="btn-small-white btn btn-very-small no-margin inner-link">Start Now</a>
              </div>
            </div>
          </div>
        </div>
      </div> 
    </nav> 

       

       

            <!--<li><a target="_blank" href="https://twitter.com/spartaincnigeria"><img src="http://dessign.net/vertex/wp-content/themes/vertex/images/twitter-icon.png" alt="twitter" /></a></li><li><a target="_blank" href="https://facebook.com/spartaincnigeria"><img src="http://dessign.net/vertex/wp-content/themes/vertex/images/facebook-icon.png" alt="facebook" /></a></li>
           -->

