
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="https://s3.amazonaws.com/sparta30/d3233.css" media="all" />
  
 
 
  <meta name="robots" content="index, follow">
  <meta name="description" content="Offical site of Sparta Inc. Nigeria">
  <meta name="keywords" content="Music, consultant, A&R, Nigeria, Sparta, sparta Inc, spartaincnigeria, sparta inc nigeria, Harry Okoh, Africa, Radio, record label, record business, music business, consultancy, synchronised radio release party, A&R Coordination, Artist Development, Music business advisory">
  
    <!--

--> 
  <script type="text/javascript">
    /*<![CDATA[*/window._wpemojiSettings={"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/11\/72x72\/","ext":".png","svgUrl":"https:\/\/s.w.org\/images\/core\/emoji\/11\/svg\/","svgExt":".svg","source":{"concatemoji":"http:\/\/wpdemos.themezaa.com\/brando\/agency\/wp-includes\/js\/wp-emoji-release.min.js"}};!function(a,b,c){function d(a,b){var c=String.fromCharCode;l.clearRect(0,0,k.width,k.height),l.fillText(c.apply(this,a),0,0);var d=k.toDataURL();l.clearRect(0,0,k.width,k.height),l.fillText(c.apply(this,b),0,0);var e=k.toDataURL();return d===e}function e(a){var b;if(!l||!l.fillText)return!1;switch(l.textBaseline="top",l.font="600 32px Arial",a){case"flag":return!(b=d([55356,56826,55356,56819],[55356,56826,8203,55356,56819]))&&(b=d([55356,57332,56128,56423,56128,56418,56128,56421,56128,56430,56128,56423,56128,56447],[55356,57332,8203,56128,56423,8203,56128,56418,8203,56128,56421,8203,56128,56430,8203,56128,56423,8203,56128,56447]),!b);case"emoji":return b=d([55358,56760,9792,65039],[55358,56760,8203,9792,65039]),!b}return!1}function f(a){var c=b.createElement("script");c.src=a,c.defer=c.type="text/javascript",b.getElementsByTagName("head")[0].appendChild(c)}var g,h,i,j,k=b.createElement("canvas"),l=k.getContext&&k.getContext("2d");for(j=Array("flag","emoji"),c.supports={everything:!0,everythingExceptFlag:!0},i=0;i<j.length;i++)c.supports[j[i]]=e(j[i]),c.supports.everything=c.supports.everything&&c.supports[j[i]],"flag"!==j[i]&&(c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&c.supports[j[i]]);c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&!c.supports.flag,c.DOMReady=!1,c.readyCallback=function(){c.DOMReady=!0},c.supports.everything||(h=function(){c.readyCallback()},b.addEventListener?(b.addEventListener("DOMContentLoaded",h,!1),a.addEventListener("load",h,!1)):(a.attachEvent("onload",h),b.attachEvent("onreadystatechange",function(){"complete"===b.readyState&&c.readyCallback()})),g=c.source||{},g.concatemoji?f(g.concatemoji):g.wpemoji&&g.twemoji&&(f(g.twemoji),f(g.wpemoji)))}(window,document,window._wpemojiSettings);/*]]>*/
  </script> 
  <style type="text/css">img.wp-smiley,img.emoji{display:inline !important;border:none !important;box-shadow:none !important;height:1em !important;width:1em !important;margin:0 .07em !important;vertical-align:-0.1em !important;background:none !important;padding:0 !important}
  </style>
  <link rel='stylesheet' id='brando-fonts-css'  href='//fonts.googleapis.com/css?family=Roboto%3A100%2C300%2C400%2C500%2C700%2C900%7CMontserrat%3A100%2C200%2C300%2C400%2C500%2C600%2C700%2C800%2C900&#038;subset=cyrillic%2Ccyrillic-ext%2Cgreek%2Cgreek-ext%2Clatin-ext%2Cvietnamese' type='text/css' media='all' />
  
   
  <script type="text/javascript" src="https://s3.amazonaws.com/sparta30/58c9d.js"></script> 
  
  <style type="text/css" title="dynamic-css" class="options-output">body{font-family:Roboto}.alt-font, .sidebar ul li a, .tags a,.btn{font-family:Montserrat}body{line-height:23px;font-size:13px}h1{line-height:50px;font-size:45px}h2{line-height:45px;font-size:40px}h3{line-height:40px;font-size:35px}h4{line-height:30px;font-size:25px}h5{line-height:25px;font-size:20px}h6{line-height:23px;font-size:18px}.text-extra-small{line-height:15px;font-size:10px}.text-small{line-height:20px;font-size:11px}.text-medium{line-height:24px;font-size:14px}.text-large{line-height:22px;font-size:15px}.text-extra-large{line-height:27px;font-size:18px}.title-small{line-height:30px;font-size:20px}.title-medium{line-height:28px;font-size:24px}.title-large{line-height:34px;font-size:28px}.title-extra-large{line-height:37px;font-size:35px}.title-extra-large-2{line-height:45px;font-size:45px}.title-extra-large-3{line-height:50px;font-size:50px}.title-extra-large-4{line-height:70px;font-size:70px}.title-extra-large-5{line-height:50px;font-size:80px}.title-big{line-height:100px;font-size:100px}.title-big2{line-height:125px;font-size:125px}.title-big3{line-height:150px;font-size:150px}.bg-white{background:#fff}.bg-black{background:#000}.bg-dark-gray{background:#252525}.bg-mid-gray{background:#d4d4d4}.bg-mid-gray2{background:#b2b2b2}.bg-mid-gray3{background:#e2e2e2}.bg-light-gray{background:#f7f7f7}.bg-gray{background:#f6f6f6}.bg-yellow{background:#e6af2a}.bg-light-yellow{background:#f8f7f5}.bg-deep-yellow{background:#c8a64b}.bg-golden-yellow{background:#ffd800}.bg-fast-yellow{background:#fdd947}.bg-yellow-ochre{background:#997546}.bg-brown{background:#614c45}.bg-deep-brown{background:#544441}.bg-orange{background:#c24742}.bg-deep-orange{background:#d66e4a}.bg-fast-orange{background:#ff513b}.bg-pink{background:#c2345f}.bg-deep-red{background:#dc3535}.bg-crimson-red{background:#e31d3b}.bg-deep-pink{background:#e53878}.bg-light-pink{background:#dc378e}.bg-deep-pink-dark{background:#e15276}.bg-fast-pink{background:#ff1a56}.bg-fast-pink-dark{background:#ef106e}.bg-magenta{background:#d94378}.bg-dark-green{background:#60a532}.bg-fast-green{background:#00ff97}.bg-deep-green{background:#1acd7b}.bg-deep-green2{background:#7ebaa1}.bg-deep-green-dark{background:#04b966}.bg-deep-green-dark2{background:#6ad5a7}.bg-deep-green-dark3{background:#62a486}.bg-transparent-green{background:rgba(0,255,151,0.5)}.bg-fast-blue{background:#00efff}.bg-dark-blue{background:#1e2126}.bg-deep-blue{background:#2283d4}.bg-deep-blue2{background:#131d43}.bg-deep-blue3{background:#1d2127}.bg-transparent-deep-blue{background:rgba(17,116,198,0.9)}.bg-turquoise-blue{background:#93e4cf}.bg-deep-blue-dark{background:#1d6cae}.bg-transparent-blue{background:rgba(0,239,255,0.5)}.bg-violet{background:#6c407e}.menu-wrap{background:#fff}.transparent-header.shrink{background:rgba(0,0,0,0.7)}.sidebar-nav,nav.shrink.sidebar-nav{background:#fff}nav.without-border.shrink{background:#000}.sidebar-nav .navbar-nav li a::before{border-bottom-color:#ef106e}.sidebar-nav .navbar-nav li > a:hover::before, .sidebar-nav .navbar-nav li.active > a::before, .sidebar-nav .navbar-nav li.current-menu-item > a:before, .sidebar-nav .navbar-nav li ul li.current-menu-item>a:before{border-bottom-color:#ef106e}body{color:#626262}a{color:#626262}a:hover{color:#272727}i{color:#9a9a9a}.white-text{color:#fff}.black-text{color:#000}.gray-text{color:#626262}.light-gray-text{color:#ababab}.light-gray-text2{color:#c5c5c5}.medium-gray-text{color:#929292}.dark-gray-text{color:#373737}.deep-gray-text{color:#404040}.deep-light-gray-text{color:#878787}.magenta-text{color:#d94378}.orange-text{color:#ff513b}.deep-orange-text{color:#d66e4a}.deep-red-text{color:#e75e50}.crimson-red-text{color:#e31d3b}.deep-pink-dark-text{color:#e15276}.fast-pink-text{color:#ff1a56}.fast-pink-text-dark{color:#ef106e}.yellow-text{color:#fdd947}.fast-yellow-text{color:#fdd947}.brown-text{color:#614c45}.deep-yellow-text{color:#c8a64b}.dark-blue-text{color:#1e2126}.deep-blue-text{color:#2283d4}.turquoise-blue-text{color:#85d4c0}.transparent-blue-text{color:rgba(0,255,151,0.5)}.fast-green-text{color:#85eea5}.deep-green-text{color:#1acd7b}.deep-green-dark2-text{color:#6ad5a7}.transparent-green-text{color:rgba(0,255,151,0.5)}</style>
  <noscript>
  <style type="text/css">.wpb_animate_when_almost_visible{opacity:1}</style></noscript><style>.html-video{-webkit-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%)}</style>


 