<!DOCTYPE html>
<html lang="en-US">
<head>
  <title>SpartaInc</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true  %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= favicon_link_tag 'spartalogo.png' %> 

  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">




  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    
  <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <!-- CSS FILES -->
  <link href="http://themezinho.net/wave/css/main.css" rel="stylesheet">
  <!-- jQuery Modal -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
  <!-- Remember to include jQuery :) -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>

</head>
<body>



	




<% flash.each do |name, msg| %>
  <div class="container">
    <br><br><br>
    <h3><%= content_tag(:div, msg, class: "alert alert-info") %></h3>
  </div>
<% end %>



<%= yield %>
<!-- JS FILES --> 
<script src="https://sparta30.s3.amazonaws.com/themefiles/js-jquery.min.js"></script> 
<script type="text/javascript">
(function($) {
  $(window).load(function(){
    $(".loading .loading-image").addClass("dissappear");
    $(".loading .loading-text").addClass("dissappear");
    $(".slider").addClass("goes-up");
    $(".navbar-default").addClass("show");
    $('.loading').delay(1000).addClass("fade-out"); 
  });
})(jQuery)
</script> 
<script src="https://sparta30.s3.amazonaws.com/themefiles/js-bootstrap.min.js"></script> 
<script src="https://sparta30.s3.amazonaws.com/themefiles/js-waypoints.min.js"></script> 
<script src="https://sparta30.s3.amazonaws.com/themefiles/js-jquery.counterup.min.js"></script> 
<script src="https://sparta30.s3.amazonaws.com/themefiles/js-jquery.textrotater.min.js"></script> 
<script src="https://sparta30.s3.amazonaws.com/themefiles/js-jquery.stellar.js"></script> 
<script src="https://sparta30.s3.amazonaws.com/themefiles/js-jquery.vopacity.js"></script> 
<script src="https://sparta30.s3.amazonaws.com/themefiles/js-wow.js"></script> 
<script src="https://sparta30.s3.amazonaws.com/themefiles/js-masonry.min.js"></script> 
<script src="https://sparta30.s3.amazonaws.com/themefiles/js-jquery.swipebox.js"></script> 
<script src='https://sparta30.s3.amazonaws.com/themefiles/js-jquery.themepunch.tools.min.js' type='text/javascript' ></script> 
<script src='https://sparta30.s3.amazonaws.com/themefiles/js-jquery.themepunch.revolution.js' type='text/javascript' ></script> 
<script src='https://sparta30.s3.amazonaws.com/themefiles/js-settings.js' type='text/javascript' ></script> 
<script src="https://sparta30.s3.amazonaws.com/themefiles/js-scripts.js" type="text/javascript"></script>


</body>

</html>
